
<section>
      <div class="container">
        <h1> Acryllic stands</h1>
        <p class="lead"> </p>
        <p></p>
      </div>
    </section>
    <section class="background-gray-lightest">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><img src="<%= asset_path 'pvc.jpg' %>" class="img-responsive"></div>
              <p>Acryllic displays of 2-3 shelves</p>
             
            </div>
          </div>
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><img src="<%= asset_path 'cosmetics.jpg' %>" alt="" class="img-responsive"></a></div>
              <p>Acryllic stand for cosmetics</p>
              
             
            </div>
          </div>
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><img src="<%= asset_path 'booklet.jpg' %>" alt="" class="img-responsive"></a></div>
              <p>Stands for booklets</p>
              
              
            </div>
          </div>
        </div>
      </div>
    </section>