<div class="center jumbotron">
<%= provide(:title, "Gallery") %>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @images %>
    </div>
    <%= will_paginate @images, :container => false %>
  </div>